<h4>Saved Addresses</h4>
{{#each addresses as |address|}}
    <div class="radio">
        <label>
            <input type="radio" name={{name}} value={{address}} {{action 'setAddress' address value on="change"}} >
            {{moo-address address=address}}
        </label>
    </div>
{{/each}}

<p>
    <button type="button" name="button" {{action "toggleAddNewAddress"}}>Enter a new address</button>
</p>

{{#if addNewAddress}}
    {{address-form address=shippingAddress}}
{{/if}}

{{yield}}
