{{!--
    A radio button for selecting an address in an address book and applying the selection to some model (e.g. order).
    Params:
    address - instance of address model to be shown with this radio-button
    radioName - A name for the property the radio-buttons set, e.g. Shipping Address or Billing Address
    selectedAddress - instance of address that is set on order Model
    Computed-properties:
    isSelected - Compares whether address and selectedAddress are the same in order to check the radio button.
    Actions:
    setAddress: sets an address on a model
--}}
<div class="radio">
    <input type="radio" value={{address}} name={{radioName}} id={{address}} checked={{isSelected}}>
    <label for="{{address}}">{{moo-address address=address}}</label>
</div>

{{yield}}
