<div class="radio">
    <input type="radio" value={{address}} name={{radioName}} id={{address}} checked={{isSelected}}>
    <label for="{{address}}">{{moo-address address=address}}</label>
</div>

{{yield}}
