<div class="col-lg-12">
    <form>
        {{validated-input value=address.firstName type="text" placeHolder="First Name*" errors=address.errors.firstName action="checkAddressIsValid"}}
        {{validated-input value=address.lastName type="text" placeHolder="Last Name*" errors=address.errors.lastName action="checkAddressIsValid"}}
        {{validated-input value=address.companyName type="text" placeHolder="Company Name" errors=address.errors.companyName action="checkAddressIsValid"}}
        {{#if showAddressService}}
            {{validated-input value=address.postcode type="text" placeHolder="Postcode*" errors=address.errors.postcode}}
            <div class="form-group">
                <input type="button" class="btn btn-default btn-block"  value="Find Address" {{action "findAddress" address.postcode}}>
            </div>
            {{#if addresses}}
                <div class="form-group">
                    {{#x-select class="form-control" action="selectAddressServiceAddress"}}
                        <option selected disabled>Choose your address</option>
                        {{#each addresses as |address|}}
                            {{#x-option value=address}}
                                {{moo-address address=address}}
                            {{/x-option}}
                        {{/each}}
                    {{/x-select}}
                </div>
            {{/if}}
        {{/if}}
        {{#if showFullForm}}
            {{validated-input value=address.firstLine type="text" placeHolder="First Line*" errors=address.errors.firstLine action="checkAddressIsValid"}}
            {{validated-input value=address.secondLine type="text" placeHolder="Second Line" errors=address.errors.secondLine action="checkAddressIsValid"}}
            {{validated-input value=address.thirdLine type="text" placeHolder="Third Line" errors=address.errors.thirdLine action="checkAddressIsValid"}}
            {{validated-input value=address.city type="text" placeHolder="City*" errors=address.errors.city action="checkAddressIsValid"}}
            {{validated-input value=address.state type="text" placeHolder="State" errors=address.errors.state action="checkAddressIsValid"}}
            {{validated-input value=address.postcode type="text" placeHolder="Postcode*" errors=address.errors.postcode action="checkAddressIsValid"}}
            {{validated-input value=address.country type="text" placeHolder="Country*" errors=address.errors.country action="checkAddressIsValid"}}
            <button type="button" class="btn btn-default" {{action "showAddressService"}}>Search for Address</button>
            <input type="button" class="btn btn-success" value="Save Address" disabled={{address.isInvalid}} {{action "addAddress"}}>
        {{/if}}
    </form>
</div>
