<h4>Saved Addresses</h4>
<ul>
    {{!-- TODO make radio buttons save shippingAddress on model--}}
    {{#each addresses as |address|}}
        <div class="radio">
            {{radio-button value=address name="shippingAddress" id=address checked='order.shippingAddress'}}
            <label for="{{address}}">{{moo-address address=address}}</label>
        </div>
    {{/each}}
</ul>

<p>
    <button type="button" name="button" {{action "toggleAddNewAddress"}}>Enter a new address</button>
</p>

{{#if addNewAddress}}
    {{address-form address=shippingAddress}}
{{/if}}

{{yield}}
