<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        {{#em-form model=address submit_button=false}}
            {{em-input property="firstName" placeholder="First Name"}}
            {{em-input property="lastName" placeholder="Last Name"}}
            {{em-input property="companyName" placeholder="Company Name"}}
            {{em-input property="firstLine" placeholder="First Line of Address"}}
            {{em-input property="secondLine" placeholder="Second Line of Address"}}
            {{em-input property="thirdLine" placeholder="Third Line of Address"}}
            {{em-input property="city" placeholder="City"}}
            {{em-input property="postcode" placeholder="Postcode"}}
            {{em-input property="country" placeholder="Country"}}
        {{/em-form}}
        {{yield}}
    </div>
</div>
