{{#each addresses as |address|}}
    <!-- TODO addresses is an ember object... targetAddress is a DS.PromiseObject so they don't equal!!!-->
    <label class="radio {{if (eq address.firstLine targetAddress.firstLine) 'active'}}">
        <input type="radio" name={{name}} value={{address}} {{action 'selectSavedAddress' address on="change"}} checked={{eq address targetAddress}}>
        {{moo-address address=address}}
    </label>
{{/each}}
<label class="radio {{if (or (eq newAddress targetAddress) (not targetAddress)) 'active'}}">
    <input type="radio" name={{name}} value="" {{action 'enterNewAddress' on="change"}}>
    Enter new address
</label>
{{#if showAddressEntryForm}}
    {{address-form address=newAddress setAddress="setAddress" saveAddress=saveAddress}}
{{/if}}
{{yield}}
