<div class="container-fluid no-padding">
    <ul class="nav navbar-nav">
        <li class="cart-icon vertical-align-middle">
            {{#link-to 'order.cart'}}
                    <span class="glyphicon glyphicon-shopping-cart"></span>
            {{/link-to}}
        </li>
        {{#if (not isSignedIn)}}
            <li class="vertical-align-middle {{navItemWidth}}">
                {{#link-to 'order.sign-in'}}
                    Sign in
                {{/link-to}}
            </li>
        {{/if}}
        <li class="vertical-align-middle {{navItemWidth}}">
            {{#link-to 'order.shipping-options'}}
                Shipping Option
            {{/link-to}}
        </li>
        <li class="vertical-align-middle {{navItemWidth}}">
            {{#link-to 'order.shipping-address'}}
                Shipping Address
            {{/link-to}}
        </li>
        <li class="vertical-align-middle {{navItemWidth}}">
            {{#link-to 'order.payment'}}
                Payment
            {{/link-to}}
        </li>
    </ul>
</div>
{{yield}}
