<label class="radio">
    <div class="panel panel-default">
        <div class="panel-body {{if (eq deliveryMethod.id selectedDeliveryMethod.id) 'active'}}">
            <input type="radio" name="deliveryMethods" value={{deliveryMethod}} {{action 'setDeliveryMethod' deliveryMethod on="change"}} checked={{eq deliveryMethod targetDeliveryMethod}}>
            <p>
                {{deliveryMethod.description}}
            </p>
            <p>
                {{deliveryMethod.deliveryDate}}
            </p>
            <hr>
            £{{deliveryMethod.price}}
            <div class="row">
                {{#if deliveryMethod.trackable}}
                    <small>trackable</small>
                {{else}}
                    <small>&nbsp;</small>
                {{/if}}
            </div>
        </div>
    </div>
</label>
{{yield}}
