<p>
    {{#if shippingCountry}}
        We are shipping to {{shippingCountry}}.
    {{else}}
        When you enter a delivery address, delivery options will be displayed.
    {{/if}}
</p>

{{#each availableDeliveryMethods as |deliveryMethod|}}
    <label class="radio {{if (eq deliveryMethod targetDeliveryMethod) 'active'}}">
        <input type="radio" name="deliveryMethods" value={{deliveryMethod}} {{action 'setDeliveryMethod' deliveryMethod on="change"}} checked={{eq deliveryMethod targetDeliveryMethod}}>
        {{deliveryMethod.deliveryDate}} - £{{deliveryMethod.price}}
    </label>
{{/each}}

{{yield}}
