<p>
    {{#if shippingCountry}}
        Which country are we sending your package to? {{shippingCountry}}
    {{else}}
        When you enter a delivery address, delivery options will be displayed.
    {{/if}}
</p>
{{#each availableDeliveryMethods as |deliveryMethod|}}
    <p>
        <input type="radio" name="deliveryMethod" value={{deliveryMethod}} {{action 'setDeliveryMethod' deliveryMethod value on="change"}} id={{deliveryMethod}}>
        <label for={{deliveryMethod}}>{{deliveryMethod.deliveryDate}} - £{{deliveryMethod.price}}</label>
    </p>
{{/each}}

{{yield}}
