{{#if discount}}
    <div class="col-xs-8 text-right">
        <strong>Discount:</strong>
    </div>
    <div class="col-xs-4 text-right">
        <strong style="color: red;">-£{{displayDiscount}}</strong>
    </div>
{{else}}
    {{#if enteringPromo}}
        <div class="col-xs-12">
            <form class="form-inline" {{action "applyDiscount" code on="submit"}}>
                <div class="form-group text-right">
                    {{input type="text" value=code class="form-control" placeholder="Enter promo code"}}
                </div>
                <button type="submit" class="btn btn-default">Apply</button>
                <a href="#" {{action 'toggleEnteringPromo'}}>Hide</a>
            </form>
        </div>
    {{else}}
        <div class="col-xs-12">
            <a href="#" {{action 'toggleEnteringPromo'}}>Enter a promo code</a>
        </div>
    {{/if}}
{{/if}}

{{yield}}
