{{#if discount}}
    <div class="col-xs-8 text-right">
        <strong>Discount:</strong>
    </div>
    <div class="col-xs-4 text-right">
        <strong style="color: red;">-£{{displayDiscount}}</strong>
    </div>
{{else}}
    {{#if enteringPromo}}
        <div class="col-xs-12">
            <form class="form-inline" {{action "applyDiscount" code on="submit"}}>
                <div class="form-group">
                    <label>Enter promo code</label>
                    <div class="input-group">
                        {{input type="text" value=code class="form-control"}}
                        <span class="input-group-btn">
                            <button class="btn btn-moo btn-block" type="submit">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>
                    </div>
                    <span>Only 1 promo code per order</span>
                </div>
            </form>
        </div>
    {{else}}
        <div class="col-xs-8 text-right">
            <a href="#" {{action 'toggleEnteringPromo'}}>Enter a promo code</a>
        </div>
        <div class="col-xs-4 text-right">
            <a href="#" {{action 'toggleEnteringPromo'}}>
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
    {{/if}}
{{/if}}

{{yield}}
