<div class="row">
    <div class="col-xs-8 text-right">
        <strong>Item sub-total:</strong>
    </div>
    <div class="col-xs-4 text-right">
        {{moo-price originalPrice=order.originalItemsPrice finalPrice=order.finalItemsPrice}}
    </div>
</div>
<div class="row">
    <div class="col-xs-8 text-right">
        <strong>Shipping Price ({{order.shippingOption.description}})</strong>
    </div>
    <div class="col-xs-4 text-right">
        {{moo-price finalPrice=order.shippingOption.price}}
    </div>
</div>

<div class="row">
    <div class="col-xs-8 text-right">
        <strong>VAT:</strong>
    </div>
    <div class="col-xs-4 text-right">
        {{moo-price finalPrice=order.tax}}
    </div>
</div>

<div class="row">
    {{!-- Yield for other line items, currently Promo codes --}}
    {{yield}}
</div>

<div class="row">
    <div class="col-xs-8 text-right">
        <strong>Total Price</strong>
    </div>
    <div class="col-xs-4 text-right">
        {{moo-price finalPrice=order.totalPrice}}
    </div>
</div>
