{{#if showErrors}}
    <small>{{errors}}</small>
{{/if}}
<div class="input-group {{if showSuccess 'has-success'}} {{if showErrors 'has-error'}}">
    {{input value=value type=type class="form-control" placeholder=placeHolder focus-out="checkForErrors" key-up="checkForSuccess"}}
    <span class="input-group-addon {{if showSuccess 'glyphicon glyphicon-ok'}} {{if showErrors 'glyphicon glyphicon-remove'}}"></span>
</div>
{{yield}}
