<label class="radio">
    <div class="panel panel-default">
        <div class="panel-body {{if (eq deliveryOption.id selectedDeliveryOption.id) 'active'}}">
            <input type="radio" name="deliveryOptions" value={{deliveryOption}} {{action 'setShippingOption' deliveryOption on="change"}} checked={{eq deliveryOption selectedDeliveryOption}}>
            <p>
                {{deliveryOption.description}}
            </p>
            <p>
                {{deliveryOption.deliveryDate}}
            </p>
            <hr>
            £{{deliveryOption.price}}
            <div class="row">
                {{#if deliveryOption.trackable}}
                    <small>trackable</small>
                {{else}}
                    <small>&nbsp;</small>
                {{/if}}
            </div>
        </div>
    </div>
</label>
{{yield}}
