<div class="col-lg-12">
    <form>
        <div class="form-group">
            <label>Name</label>
                {{validated-input value=card.name type="text" placeHolder="Name on card*" errors=card.errors.name action="checkCardIsValid"}}
        </div>
        <div class="form-group">
            <label>Card number</label>
            {{validated-input value=card.cardNumber type="text" placeHolder="Card Number" errors=card.errors.cardNumber action="checkCardIsValid"}}
        </div>
        <div class="form-group">
            <label>Expiry Date (MM / YY)</label>
            <div class="row">
                <div class="col-md-3 col-xs-5">
                    {{validated-input value=expiryMonth type="text" placeHolder="MM" errors=errors.expiryMonth action="checkCardIsValid"}}
                </div>
                <div class="col-md-3 col-xs-5">
                    {{validated-input value=expiryYear type="text" placeHolder="YY" errors=errors.expiryYear action="checkCardIsValid"}}
                </div>
                {{!-- TODO still need to figure out why I need to invoke this computed property on the HTMLBars template in order for it
                to recompute --}}
                <div class="hidden">
                    {{computedExpiryDate}}
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>CCV</label>
            <div class="row">
                <div class="col-md-4 col-xs-8">
                    {{validated-input value=ccv type="text" placeHolder="CCV" errors=errors.ccv action="checkCardIsValid"}}
                </div>
            </div>
        </div>
        {{yield}}
    </form>
</div>
