{{#each paymentMethods as |paymentMethod|}}
    {{payment-options/payment-method paymentMethod=paymentMethod selectedPaymentMethod=selectedPaymentMethod setPaymentMethod=setPaymentMethod}}
{{/each}}

{{#if paymentMethods}}
    <label class="radio {{if showCardEntryForm 'active'}}">
        <input type="radio" name={{name}} value="" {{action 'enterNewCard' on "change"}}>
        Enter new card
    </label>
{{/if}}

{{#if showCardEntryForm}}
    {{payment-options/card-form 
        card=newCard 
        setPaymentMethod=setPaymentMethod 
        savePaymentMethod=savePaymentMethod}}
{{/if}}

{{yield}}
