<input type="radio" name="paymentMethod" value={{paymentMethod}} {{action 'setPaymentMethod' paymentMethod on="change"}}>
<div class="col-xs-3 vertical-align-middle">
    <img src="assets/images/credit_cards/{{paymentMethod.type}}.png" alt="{{paymentMethod.type}} logo" />
</div>
<div class="col-xs-6 vertical-align-middle text-align-left">
    <strong>{{paymentMethod.name}}</strong><br>
    <strong>Ending {{paymentMethod.lastFourDigits}}</strong><br>
    <span>Expires {{paymentMethod.expiryDate}}</span>
</div>
<div class="col-xs-2 vertical-align-middle">
    <button type="button" name="button" class="btn btn-default">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
</div>

{{yield}}
