<h4>Select a payment method</h4>
<div class="row">
    {{#each paymentOptions as |paymentOption|}}
        <div class="col-xs-6 col-sm-3">
            <label class="radio">
                <div class="panel panel-default">
                    <div class="panel-body {{if (eq paymentOption selectedPaymentOption) 'active'}}">
                        <input 
                            type="radio" 
                            name="paymentOptions" 
                            value={{paymentOption}}
                            {{action "setPaymentOption" paymentOption on="change"}} 
                            checked={{eq paymentOption selectedPaymentOption}}
                        >
                        <img src="assets/images/payment_options/{{paymentOption}}.png">
                    </div>
                </div>
            </label>
        </div>
    {{/each}}
</div>
<hr>
{{#if (eq selectedPaymentOption "creditCard")}}
    <div class="row">
        <div class="col-xs-12">
            {{payment-options/payment-book 
                paymentMethods=paymentMethods
                name="payment"
                selectedPaymentMethod=selectedPaymentMethod 
                setPaymentMethod=setPaymentMethod
                clearPaymentMethod=clearPaymentMethod
                savePaymentMethod=savePaymentMethod
                targetPaymentMethod=targetPaymentMethod
                shippingAddress=shippingAddress
                user=user
            }}
        </div>
    </div>
{{/if}}
{{#if (eq selectedPaymentOption "payPal")}}
    <div class="col-xs-12 vertical-align-middle">
        <strong>When paying with paypal your browser will take you to the paypal website.</strong>
        <img src="assets/images/payment_options/payPal_button.png">
    </div>
{{/if}}
{{#if (eq selectedPaymentOption "googleWallet")}}
    <div class="col-xs-12 vertical-align-middle">
        <strong>When paying with google wallet your browser will take you to the google wallet website.</strong>
        <img src="assets/images/payment_options/googleWallet_button.png">
    </div>
{{/if}}
{{yield}}
