{{#each addresses as |address|}}
    <div class="radio">
        <label>
            <input type="radio" name="savedAddresses" value={{address}} {{action 'selectSavedAddress' on="change"}}>
            {{addresses/moo-address address=address}}
        </label>
    </div>
{{/each}}
<div class="form-group">
    <button class="btn btn-success btn-block {{if isEnteringNewAddress 'hidden'}}" {{action 'enterNewAddress'}}>
        Add Address
        <span class="glyphicon glyphicon-plus pull-right"></span>
    </button>
</div>
{{yield}}
