{{#each addresses as |address|}}
    <label class="radio {{if (eq address.id targetAddress.id) 'active'}}">
        <input type="radio" name={{name}} value={{address}} {{action 'selectSavedAddress' address on="change"}} checked={{eq address targetAddress}}>
        {{addresses/moo-address address=address}}
    </label>
{{/each}}
<label class="radio {{if showAddressEntryForm 'active'}}">
    <input type="radio" name={{name}} value="" {{action 'enterNewAddress' on="change"}}>
    Enter new address
</label>
{{#if showAddressEntryForm}}
    {{addresses/address-form 
        address=newAddress 
        setAddress="setAddress" 
        saveAddress=saveAddress
    }}
{{/if}}
{{yield}}
