<h2>Checkout</h2>

<h3>Shipping Address</h3>

{{address-book addresses=model.user.addressBook}}


{{!-- {{input value=model.test placeholder="Order Test"}}

{{model.address.firstName}}

{{model.user.email}}

{{shipping-address address=model.address}}

{{address-book}} --}}

{{outlet}}
