<div class="col-lg-8 col-lg-offset-2">
    <h2>Checkout</h2>

    <h3>Shipping Address</h3>
    
    {{address-book addresses=model.user.addressBook targetAddress=model.shippingAddress targetAddressName="shippingAddress"}}

    <h3>Delivery Options</h3>
    
    {{delivery-methods shippingCountry=model.shippingAddress.country}}

    <h3>Billing Address</h3>
    
    {{address-book addresses=model.user.addressBook targetAddress=model.billingAddress targetAddressName="billingAddress"}}

    <h2>Basket</h2>
    <h3>Shipping To:</h3>
    {{moo-address address=model.shippingAddress}}
    <h3>Billing Address:</h3>
    {{moo-address address=model.billingAddress}}
    {{outlet}}
</div>
