<div class="col-lg-8">
    <h2>Checkout</h2>
    
    <h3>Shipping Address</h3>
    
    {{address-book addresses=order.user.addressBook name="shipping" setAddress="setShippingAddress" targetAddress=order.shippingAddress}}

    <h3>Delivery Options</h3>
    
    {{delivery-methods shippingCountry=order.shippingAddress.country targetDeliveryMethod=order.deliveryMethod setDeliveryMethod="setDeliveryMethod"}}

    <h3>Billing Address</h3>
    
    {{address-book addresses=order.user.addressBook name="billing" setAddress="setBillingAddress" targetAddress=order.billingAddress}}
</div>

<div class="col-lg-4">
    <h2>Summary</h2>
    <h4>Price</h4>
    <p>
        Item Price: £{{totalItemsPrice}}
    </p>
    <p>
        Delivery Price: £{{order.deliveryMethod.price}}
    </p>
    <p>
        Total Price: £
    </p>
    <h4>Delivery</h4>
    {{#if order.deliveryMethod}}
        {{order.deliveryMethod.deliveryDate}} - £{{order.deliveryMethod.price}}
    {{else}}
        Select a delivery option
    {{/if}}
    <h4>Shipping Address</h4>
    {{moo-address address=order.shippingAddress}}
    <h4>Billing Address</h4>
    {{moo-address address=order.billingAddress}}
    {{outlet}}
    <h4>Cart Items</h4>
    {{#each order.items as |item|}}
        <p>
            {{item.quantity}} x {{item.description}}
        </p>
    {{/each}}
</div>
