<div class="col-lg-8">
    <h2>Checkout</h2>
    
    <h3>Shipping Address</h3>
    
    {{address-book addresses=order.user.addressBook name="shipping" setAddress="setShippingAddress" enterNewAddress="enterNewShippingAddress" 
        setNewAddress="setNewShippingAddress" targetAddress=order.shippingAddress}}

    <h3>Delivery Options</h3>
    
    {{delivery-methods shippingCountry=order.shippingAddress.country targetDeliveryMethod=order.deliveryMethod setDeliveryMethod="setDeliveryMethod"}}

    <h3>Billing Address</h3>
    
    {{address-book addresses=order.user.addressBook name="billing" setAddress="setBillingAddress" enterNewAddress="enterNewBillingAddress" 
        setNewAddress="setNewBillingAddress" targetAddress=order.billingAddress}}
</div>

<div class="col-lg-4">
    {{cart-summary order=order}}
</div>

{{outlet}}
