{{!-- <h1>Delivery Details</h1>
<div class="row">
    <div class="col-lg-8">
        <div class="quiet-box">
            <h3>Shipping Address</h3>
            
            <div class="panel panel-default">
                <div class="panel-body">
                    {{address-book addresses=order.user.addressBook name="shipping" setAddress="setShippingAddress" enterNewAddress="enterNewShippingAddress" 
                        setNewAddress="setNewShippingAddress" saveAddress="saveAddress" targetAddress=order.shippingAddress}}
                </div>
            </div>
            

            <h3>Delivery Options</h3>
            <div class="panel panel-default">
                <div class="panel-body">
                    {{delivery-methods shippingCountry=order.shippingAddress.country targetDeliveryMethod=order.deliveryMethod setDeliveryMethod="setDeliveryMethod"}}
                </div>
            </div>

            <h3>Billing Address</h3>
            <div class="panel panel-default">
                <div class="panel-body">
                    {{address-book addresses=order.user.addressBook name="billing" setAddress="setBillingAddress" enterNewAddress="enterNewBillingAddress" 
                        setNewAddress="setNewBillingAddress" saveAddress="saveAddress" targetAddress=order.billingAddress}}
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <h3>Summary</h3>
        <div class="panel panel-default">
            <div class="panel-body">
                {{cart-summary order=order}}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-8" style="text-align: center">
        <div class="form-group">
            <input type="button" class='btn btn-lg btn-success' value="Payment" disabled={{order.isInvalid}}>
        </div>
    </div>
    
</div> --}}
{{outlet}}
